<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/autor/pesquisarAutor">Autores</a>
    <a class="navbar-brand" routerLink="/livro/pesquisarLivro">Livros</a>
  </nav>
</div>
<div class="container">
    <div class="card">
      <h6 class="card-header">EDITAR AUTOR</h6>
      <div class="card-body">
        <form id="autorForm" [formGroup]="autorForm" (ngSubmit)="salvar()">
          <div class="row mb-3">
            <label for="nome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="nome">
            </div>
            <div class="form-validation-error" *ngIf="autorForm.controls.nome.invalid && 
            (autorForm.controls.nome.dirty || autorForm.controls.nome.touched)">
              <div *ngIf="autorForm.controls.nome.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="nacionalidade" class="col-sm-2 col-form-label">Nacionalidade</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="nacionalidade">
            </div>
            <div class="form-validation-error" *ngIf="autorForm.controls.nacionalidade.invalid && 
            (autorForm.controls.nacionalidade.dirty || autorForm.controls.nacionalidade.touched)">
              <div *ngIf="autorForm.controls.nacionalidade.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="dataNascimento" class="col-sm-2 col-form-label">Data de Nascimento</label>
            <div class="col-sm-5">
              <input type="date" class="form-control" formControlName="dataNascimento">
            </div>
            <div class="form-validation-error" *ngIf="autorForm.controls.dataNascimento.invalid && 
            (autorForm.controls.dataNascimento.dirty || autorForm.controls.dataNascimento.touched)">
              <div *ngIf="autorForm.controls.nacionalidade.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <button [disabled]="!autorForm.valid" type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
    </div>
  </div>