<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/autor/pesquisarAutor">Autores</a>
    <a class="navbar-brand" routerLink="/livro/pesquisarLivro">Livros</a>
  </nav>
</div>
<div class="container">
    <div class="card">
      <h6 class="card-header">EDITAR LIVRO</h6>
      <div class="card-body">
        <form id="livroForm" [formGroup]="livroForm" (ngSubmit)="salvar()">
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="nome">
            </div>
            <div class="form-validation-error" *ngIf="livroForm.controls.nome.invalid && 
            (livroForm.controls.nome.dirty || livroForm.controls.nome.touched)">
              <div *ngIf="livroForm.controls.nome.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Nome Autor</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="nomeAutor">
            </div>
            <div class="form-validation-error" *ngIf="livroForm.controls.nomeAutor.invalid && 
            (livroForm.controls.nomeAutor.dirty || livroForm.controls.nomeAutor.touched)">
              <div *ngIf="livroForm.controls.nomeAutor.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Ano de Publicação</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="dataPublicacao">
            </div>
            <div class="form-validation-error" *ngIf="livroForm.controls.dataPublicacao.invalid && 
            (livroForm.controls.dataPublicacao.dirty || livroForm.controls.dataPublicacao.touched)">
              <div *ngIf="livroForm.controls.dataPublicacao.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Gênero</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="genero">
            </div>
            <div class="form-validation-error" *ngIf="livroForm.controls.genero.invalid && 
            (livroForm.controls.genero.dirty || livroForm.controls.genero.touched)">
              <div *ngIf="livroForm.controls.genero.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Editora</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="editora">
            </div>
            <div class="form-validation-error" *ngIf="livroForm.controls.editora.invalid && 
            (livroForm.controls.editora.dirty || livroForm.controls.editora.touched)">
              <div *ngIf="livroForm.controls.editora.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Edição</label>
            <div class="col-sm-5">
              <input type="text" class="form-control" formControlName="edicao">
            </div>
            <div class="form-validation-error" *ngIf="livroForm.controls.edicao.invalid && 
            (livroForm.controls.edicao.dirty || livroForm.controls.edicao.touched)">
              <div *ngIf="livroForm.controls.edicao.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label  class="col-sm-2 col-form-label">Data Recebimento</label>
            <div class="col-sm-5">
              <input type="date" class="form-control" formControlName="dataRecebimento">
            </div>
            <div class="form-validation-error" *ngIf="livroForm.controls.dataRecebimento.invalid && 
            (livroForm.controls.dataRecebimento.dirty || livroForm.controls.dataRecebimento.touched)">
              <div *ngIf="livroForm.controls.dataRecebimento.errors?.required">
                Campo requerido
              </div>
            </div>
          </div>
          <button [disabled]="!livroForm.valid" type="submit" class="btn btn-primary">Editar</button>
        </form>
      </div>
    </div>
  </div>