<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" routerLink="/autor/pesquisarAutor">Autores</a>
      <a class="navbar-brand" routerLink="/livro/pesquisarLivro">Livros</a>
    </nav>
  </div>
<div class="container">
    <div class="animated fadein">
        <div class="card">
            <div class="card-header">
                <i class="cui-layers"></i>Pesquisar Autor
            </div>
            <div class="card-body">
                <ng2-smart-table 
                    [source]="source" 
                    [settings]="settings" 
                    (create)="onCreate($event)" 
                    (edit)="onEdit($event)"
                    (delete)="onDelete($event)">
                </ng2-smart-table>
            </div>
        </div>
    </div>
</div>
    

